

<nav class="navbar navbar-expand-lg navbar-dark dg-light color" style="background-color: black;">
    <a class="navbar-brand" href="{% url 'home_page'%}">PRASAD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home_page'%}">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact_page'%}">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback_page'%}">feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery_page'%}">gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'services_page'%}">services</a>
        </li>
      </ul>
    </div>
</nav>



